<head>
    <title>Contacts</title>
</head>
<div>
    <div class="is-row">
        <div class="is-col">
            <h3>Monitoring conveners</h3>
            <div>
                <a href="https://cmsweb.cern.ch/sitedb/prod/people/valya">
                    Valentin Kuznetsov
                </a>
            </div>
            <div>
                <a href="https://cmsweb.cern.ch/sitedb/prod/people/leggerf">
                    Federica Legger
                </a>
            </div>
        </div>
        <div class="is-col">
            <h3>CERN MONIT</h3>
            <div>
                <a href="https://phonebook.cern.ch/phonebook/#search/?query=Alberto+Aimar+IT-CM-MM">
                    Alberto Aimar
                </a>, MONIT <a href="http://monit.web.cern.ch/monit/">
                    portal
                </a>
            </div>
        </div>
        <div class="is-col">
            <h3>Hypernews</h3>
            <div>
                <a href="https://hypernews.cern.ch/HyperNews/CMS/get/comp-monitoring.html">
                    Offline and Computing forum
                </a>
            </div>
        </div>
        <div class="is-col">
            <h3>Support</h3>
            <div>
                Discussions internal to CMS:
		<a href="https://its.cern.ch/jira/browse/CMSMONIT">
                    CMSMONIT JIRA
                </a>
            </div>
            <div>
                Interaction with CERN MONIT:
		<a href="https://cern.service-now.com/service-portal/function.do?name=monitoring">
                    SNOW ticket
                </a> or mail to monit-snow@SPAMNOTcern.ch
            </div>	    
        </div>
    </div>
    <div class="is-row">
        <div class="is-col">
            <h3>Dashboards</h3>
            <div>
                <a href="https://cmsweb.cern.ch/sitedb/prod/people/belforte">
                    Stefano Belforte
                </a> CMS GRID and CRAB support
            </div>
            <div>
                <a href="https://cmsweb.cern.ch/sitedb/prod/people/boccali">
                    Tommaso Boccali
                </a> CMS Management
            </div>
            <div>
                <a href="https://cmsweb.cern.ch/sitedb/prod/people/stiegerb">
                    Benjamin Stieger
                </a> CMS Graphana Dashboards
            </div>
        </div>
     </div>
</div>
