<div>
    <div class="is-row">
        <div class="is-col">
            <h3>Monitoring conveners</h3>
            <div>
                <a href="https://cmsweb.cern.ch/sitedb/prod/people/valya">
                    Valentin Kuznetsov
                </a>
            </div>
            <div>
                <a href="https://cmsweb.cern.ch/sitedb/prod/people/leggerf">
                    Federica Legger
                </a>
            </div>
        </div>
        <div class="is-col">
            <h3>Dashboards</h3>
            <div>
                <a href="https://cmsweb.cern.ch/sitedb/prod/people/belforte">
                    Stefano Belforte
                </a> CMS GRID and CRAB support
            </div>
            <div>
                <a href="https://cmsweb.cern.ch/sitedb/prod/people/boccali">
                    Tommaso Boccali
                </a> CMS Management
            </div>
        </div>
        <div class="is-col">
            <h3>CERN MONIT</h3>
            <div>
                <a href="https://phonebook.cern.ch/phonebook/#search/?query=Alberto+Aimar+IT-CM-MM">
                    Alberto Aimar
                </a>
            </div>
        </div>
    </div>
</div>
</div>
