<div>
    <div class="is-row">
        <div class="is-col">
            <h3>Production</h3>
            <div>
                <a href="https://monit-grafana.cern.ch/d/000000422/xrootd-transfers-30-days?orgId=20#">
                    XRootD transfers
                </a>
            </div>
            <div>
                <a href="https://dashb-cms-job-task.cern.ch/dashboard/templates/task-analysis/">
                    Task Monitoring
                </a>
            </div>
            <div>
                <a href="http://dashb-cms-job.cern.ch/dashboard/templates/web-job2/">
                    Jobs view
                </a>
            </div>
            <div>
                <a href="http://dashb-cms-jobsmry.cern.ch/dashboard/request.py/dailysummary">
                    Daily summary
                </a>
            </div>
            <div>
                <a href="http://dashb-cms-prod.cern.ch/dashboard/request.py/condorjobsummary">
                    Condor summary
                </a>
            </div>
        </div>
        <div class="is-col">
            <h3>WMArchive</h3>
            <div>
                <a href="https://cmsweb.cern.ch/wmarchive/web/performance">
                    WMArchive performance
                </a>
            </div>
            <div>
                <a href="https://monit-kibana.cern.ch/kibana/goto/a913b3902db1c78c635275d80fe7ca33">
                    WMArchive Host info
                </a>
            </div>
        </div>
        <div class="is-col">
            <h3>User dashboards</h3>
            <div>
                    <a href="http://dashb-cms-job-task.cern.ch/dashboard/request.py/userssummary">
                        User summary
                    </a>
            </div>
        </div>
        <div class="is-col">
            <h3>Graphana</h3>
            <div>
                <a href="https://monit-grafana.cern.ch/?orgId=20">
                    WLCG Dashboards
                </a>
            </div>
            <div>
                <a href="https://monit-grafana.cern.ch/?orgId=11">
                    CMS Dashboards
                </a>
            </div>
            <div>
                <a href="https://monit-grafana.cern.ch/d/000000185/_project-cmsops-crabmetrics?orgId=10">
                    CRAB Monitoring
                </a>
	    </div>
            <div> T0: <a href="https://monit-grafana.cern.ch/dashboard/db/_project-tier0-production?refresh=5m&orgId=10">
                    Production
                </a>, <a href="https://monit-grafana.cern.ch/dashboard/db/_project-tier0-jobs?orgId=10">
                    Jobs
                </a> 
	    </div>
        </div>
        <div class="is-col">
            <h3>Others</h3>
            <div>
                <a href="https://meter.cern.ch/public/_plugin/kibana/#/dashboard/temp/CMS::CMS">
                    Critical services
                </a>
            </div>
            <div>
                <a href="http://wlcg-sam-cms.cern.ch/templates/ember/">
                    SAM3
                </a>
            </div>
            <div>
                <a href="http://dashb-ssb.cern.ch/dashboard/request.py/siteviewhome">
                    Site Status Board
                </a>
            </div>
	    <div>
                <a href="https://cms-gwmsmon.cern.ch/">
                    GWMS Condor-based Monitoring
                </a>
            </div>
	    <div>
                <a href="https://monit-kibana.cern.ch/kibana/app/kibana#/dashboard/c7269a00-11c7-11e8-836e-b5d8c9ef401d?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(description:'',filters:!(),options:(darkTheme:!f),panels:!((col:1,id:'6a0a4e40-10b7-11e8-ac17-df4678c347ab',panelIndex:1,row:1,size_x:6,size_y:12,type:visualization),(col:7,id:d7a5b6e0-11b3-11e8-aada-815e087b23f6,panelIndex:2,row:9,size_x:6,size_y:4,type:visualization),(col:7,id:'1913f400-17ce-11e8-9d4b-6fe24bde53cc',panelIndex:3,row:1,size_x:6,size_y:8,type:visualization)),query:(match_all:()),timeRestore:!f,title:'CRAB3%20JAT',uiState:(),viewMode:view)">
                    CRAB gWMS on Kibana
                </a>
            </div>
        </div>
    </div>
</div>
