<div>
    <div class="is-row">
        <div class="is-col">
            <h3>Production</h3>
            <ul>
                <li>
                    <a href="https://monit-grafana.cern.ch/d/000000422/xrootd-transfers-30-days?orgId=20#">
                        XRootD transfers
                    </a>
                </li>
                <li>
                    <a href="https://dashb-cms-job-task.cern.ch/dashboard/templates/task-analysis/">
                        Task Monitoring
                    </a>
                <li>
                    <a href="http://dashb-cms-job.cern.ch/dashboard/templates/web-job2/">
                        Jobs view
                    </a>
                </li>
                <li>
                    <a href="http://dashb-cms-jobsmry.cern.ch/dashboard/request.py/dailysummary">
                        Daily summary
                    </a>
                </li>
                <li>
                    <a href="http://dashb-cms-prod.cern.ch/dashboard/request.py/condorjobsummary">
                        Condor summary
                    </a>
                </li>
            </ul>
        </div>
        <div class="is-col">
            <h3>WMArchive</h3>
            <ul>
                <li>
                    <a href="https://cmsweb.cern.ch/wmarchive/web/performance">
                        WMArchive performance
                    </a>
                </li>
                <li>
                    <a href="https://monit-kibana.cern.ch/kibana/goto/a913b3902db1c78c635275d80fe7ca33">
                        WMArchive Host info
                    </a>
                </li>
            </ul>
        </div>
        <div class="is-col">
            <h3>User dashboards</h3>
            <ul>
                <li>
                    <a href="http://dashb-cms-job-task.cern.ch/dashboard/request.py/userssummary">
                        User summary
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
