<div>
    <h3>CMS Monitoring Meetings</h3>
    <div class="is-row">
        <div class="is-col">
            <div> See <em>CMS Computing Monitoring Forum</em> bi-weekly meetings on Wednedays@17:00 CERN time
            <a href="https://indico.cern.ch/category/7687/">
                indico
            </a>
            </div>
        </div>
    </div>
    <h3>Documents</h3>
    <div class="is-row">
        <div class="is-col">
            <div>
            <a href="https://docs.google.com/document/d/1hma6LmcwIMinTxGqlt0Mets2mp4uBXHXsqHOoUyYGDE/edit#heading=h.ek605b1eajcs">
                Monitoring Project Plan
            </a>
            </div>
            <div>
            <a href="https://docs.google.com/spreadsheets/d/1Z94oO6DJrPeYQaWjPTRSZjZ1ErF9zuRu6ocEX2CKvQY/edit#gid=0">
                Dashoard migration
            </a>
            </div>
        </div>
    </div>
</div>
