<div>

    <div class="is-row">
        <div class="is-col">
            <h3>CMS Monitoring Data Sources</h3>
            <div>
                EOSCMS log files
                <pre>
                hdfs:///project/monitoring/archive/eos/logs/reports/cms
                </pre>
            </div>
            <div>
                AAA Xrootd monitoring
                <pre>
                hdfs:///project/monitoring/archive/xrootd/raw/gled
                hdfs:///project/monitoring/archive/xrootd/enr/gled
                </pre>
            </div>
            <div>
                CMSSW file accesses
                <pre>
                hdfs:///project/awg/cms/cmssw-popularity/avro-snappy
                </pre>
            </div>
            <div>
                CMS PhEDEx file catalog
                <pre>
                hdfs:///project/awg/cms/phedex/catalog
                </pre>
            </div>
            <div>
                CMS PhEDEx daily block replica snapshots
                <pre>
                hdfs:///project/awg/cms/phedex/block-replicas-snapshots
                </pre>
            </div>
            <div>
                CMS DBS3 snapshots
                <pre>
                hdfs:///project/awg/cms/CMS_DBS3_PROD_GLOBAL/current
                </pre>
            </div>
            <div>
                CMS Job Monitoring
                <pre>
                hdfs:///project/awg/cms/job-monitoring/avro-snappy
                </pre>
            </div>
            <div>
                CMS data popularity
                <pre>
                hdfs:///project/awg/cms/jm-data-popularity/avro-snappy
                </pre>
            </div>
            <div>
                CMS ASO File Transfer records
                <pre>
                hdfs:///project/awg/cms/CMS_ASO/filetransfersdb/full
                </pre>
            </div>
            <div>
                CMS WMArchive records
                <pre>
                hdfs:///cms/wmarchive/avro/fwjr
                hdfs:///cms/wmarchive/avro/crab
                </pre>
            </div>
        </div>
    </div>
</div>
