<div>
    <h3>CMS Monitoring training</h3>
    <div class="is-row">
        <div class="is-col">
            <div>
                <a href="https://clouddocs.web.cern.ch/clouddocs/">
                    CERN OpenStack Cloud guide
                </a>
            </div>
            <div>
                <a href="http://iopscience.iop.org/article/10.1088/1742-6596/664/5/052002/pdf">
                    CERN Monitoring infrastructure
                </a>
            </div>
            <div>
                <a href="http://docs.grafana.org/guides/getting_started/">
                    Getting started with Grafana
                </a>
            </div>
            <div>
                <a href="https://www.elastic.co/guide/en/kibana/current/dashboard-getting-started.html">
                    Getting started with Kibana
                </a>
            </div>
            <div>
                <a href="https://github.com/vkuznet/CMSSpark/wiki">
                    CMSSpark framework
                </a>
            </div>
            <div>
                <a href="https://twiki.cern.ch/twiki/bin/view/ITAnalyticsWorkingGroup/DataAccess">
                    HDFS access at CERN
                </a>
            </div>        
	</div>
    </div>
</div>
